<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Float puzzle</title>
    <link href="css/puzzle.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <h1>
      Float puzzle
    </h1>
    <div class="container">
      <div class="box square violet"></div>
      <div class="box green"></div>
      <div class="box red1"></div>
      <div class="box blue1"></div>
      <div class="box red2"></div>
      <div class="box square yellow"></div>
      <div class="box green"></div>
      <div class="box blue2"></div>
    </div>
  </body>
</html>