* {
  box-sizing: border-box;
}
html {
  height: 100%;
  font-size: 16px;
}
body {
  height: 100%;
  color: #444;
  font-family: Roboto, Arial, sans-serif;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.content {
  flex: 1 0 auto;
}
.main {
  padding: 100px 50px;
}
.box {
  box-shadow: 2px 0px 22px 6px rgba(0, 0, 0, 0.15);
  display: table;
  padding: 0 15px;
}
.box__line {
  display: table-row;
  border: 4px solid grey;
}
.border {
  border:1px solid grey;
}
.sprite__box {
   background-image: url(SVG-icons.png);
  background-repeat: no-repeat;
  height: 40px;
  width: 40px;
  margin-right: 10px;
  position: relative;
}
.sprite__box-smile {
  background-position: -110px -36px;
}
.sprite__box-edition {
  background-position: -110px -75px;
}
.sprite__box-error {
  background-position: 0px -150px;
}
.text, .status, .sprite {
  display: table-cell;
  vertical-align: middle;
}
.status {
  text-align: right;
}
.status__info {
  color: white;
  padding: 10px;
}
.status__info--approved {
  background-color: green;
}
.status__info--pending {
  background-color: orange;
}
.status__info--error {
  background-color: red;
}
.status, .text {
  padding: 20px 0;
}
