* {
  box-sizing: border-box;
}
html {
  height: 100%;
  font-size: 16px;
}
body {
  height: 100%;
  color: #444;
  font-family: Arial, sans-serif;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.content {
  height: 100%;
  flex: 1 0 auto;
}
.main {
  padding: 100px 50px;

}
.box {
  box-shadow: 2px 0px 22px 6px rgba(0, 0, 0, 0.15);
  border:1px solid rgba(130, 120, 120, 0.5);
  border-bottom: none;
}
.box__line {
  display: table;
  width: 100%;
  border-bottom: 1px solid rgba(130, 120, 120, 0.5);
}
.box__cell {
  display: table-cell;
  padding: 15px;
  vertical-align: middle;
}
.box__cell--align {
  vertical-align: baseline;
}
.box__cell--size {
  width: 36px;
}
.sprite {
  background-image: url(SVG-icons.png);
  background-repeat: no-repeat;
  height: 36px;
  width: 36px;
  position: relative;
}
.sprite--position-smile {
  background-position: -112px -40px;
}
.sprite--position-edition{
  background-position: -110px -75px;
}
.sprite--position-error {
  background-position: 0 -150px;
}
.status {
  text-align: right;
}
.status__text {
  color: white;
  padding: 10px;
  border-radius: 5px;
}
.status__text--bcg-edit {
  background-color: orange;
}
.status__text--bcg-approved {
  background-color: green;
}
.status__text--bcg-error {
  background-color: red;
}
.circle {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-image: radial-gradient(red, rgb(198, 143, 260), white);
  background-size: 3px 3px;
  margin: 0 auto;
  box-shadow: 
    inset 0px 25px 2px rgba(45, 210, 47, 0.7), 
    inset -25px 0px 2px rgba(206, 51, 220, 0.7),
    inset 0px -25px 2px rgba(133, 12, 195, 0.7), 
    inset 25px 0px 2px rgba(104, 247, 171, 0.7), 
    inset -25px -25px 2px rgba(230, 22, 80, 0.7),
    inset 25px 25px 2px rgba(160, 162, 23, 0.7),
    inset -25px -25px 2px rgba(230, 22, 80, 0.7);
}