* {
  box-sizing: border-box;
}
html {
  height: 100%;
  font-size: 16px;
}
body {
  height: 100%;
  color: #444;
  font-family: Roboto, Arial, sans-serif;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.content {
  flex: 1 0 auto;
}
.main {
  padding: 100px 50px;
}
.box {
  box-shadow: 2px 0px 22px 6px rgba(0, 0, 0, 0.15);
  display: table;
  border:1px solid rgba(130, 120, 120, 0.5);
  border-bottom: none;
}
.box__line {
  display: table-row;
}
.sprite__box {
  background-image: url(SVG-icons.png);
  background-repeat: no-repeat;
  height: 40px;
  width: 40px;
  position: relative;
}
.sprite__box-smile {
  background-position: -110px -36px;
}
.sprite__box-edition {
  background-position: -110px -75px;
}
.sprite__box-error {
  background-position: 0 -150px;
}
.text, .status, .sprite {
  display: table-cell;
  border-bottom: 1px solid rgba(130, 120, 120, 0.5);
  padding: 15px;
}
.border:last-child>* {
  border-bottom: none;
}
.status {
  text-align: right;
  padding-right: 15px;
  vertical-align: top;
  padding-top: 24px;
}
.text {
  vertical-align: middle;
  text-align: justify;
}
.status__info {
  color: white;
  padding: 10px;
  border-radius: 5px;
}
.status__info--approved {
  background-color: green;
}
.status__info--pending {
  background-color: orange;
}
.status__info--error {
  background-color: red;
}
.circle {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: red;
  margin: 0 auto;
}

