html {
  height: 100%;
  font-size: 16px;
  font-family: Roboto, Arial, sans-serif;
}

body {
  height: 100%;
  color: #444;
  font-family: Roboto, Arial, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.content {
  flex: 1 0 auto;
}

header {
  background-color: #3F51B5;
  color: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.26);
}

footer {
  flex-shrink: 0;
  background-color: #3F51B5;
  color: #fff;
  text-align:center;
}
.content{
  font-size: 67px;
}

/* Your styles go below */
body{
  width: 1000px;
}
.content{
  padding: 15px;
}
.link {
  float:left;
  padding: 15px;
  box-sizing: border-box;
}
.autorisation{
  float:right;
  padding: 15px;
  box-sizing: border-box;
}
.h1 {
  margin-top: 25px;
  margin-bottom: 45px;
  font-size:45px;
  font-weight: bold;
  box-sizing: border-box;
}
.img-row {
  height: 300px;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
}
.img-row:first-child {
  border-top: 1px solid grey;
}
.img-col {
  float: left;
  height: 300px;
  padding: 35px 48px;
  box-sizing: border-box;
}
.img-col:first-child {
  border-right: 1px solid grey;
}
.img-col:last-child {
  border-left: 1px solid grey;
}
.about{
  font-size: 20px;
  font-weight: bold;
  margin: 40px 0 0 0;
}
.text{
  text-indent: 1.5em;
  text-align: justify;
  box-sizing: border-box;
  padding: 40px 40px 40px 0;
  font-size: 16px;
  box-sizing: border-box;
}
.subscribe{
  width: 500px;
  font-size:18px;
  margin: 0 -15px;
}
.email{
  width: 500px;
}
label{
  margin: 15px;
  font-weight: bold;
}
input{
  border: 1px solid grey;
  box-sizing: border-box;
  margin: 15px;
  width: 225px;
  float:left;
  padding: 5px;
  font-size: 14px;
}
button{
  float: right;
  box-sizing: border-box;
  border: 1px solid grey;
  padding: 6px;
  margin-top: 15px;
  margin-right: 125px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}
button:hover{
  border-color: red;
}
footer{
  text-align:center;
  box-sizing: border-box;
  content:"&#169";
  padding: 20px;
}
